<form role="form" [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="on">
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxFlexOffset="50px">
      <mat-card-title>Welcome</mat-card-title>
      <mat-card-subtitle>Please, log in to application</mat-card-subtitle>

      <mat-card-content fxLayout="column">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" autocomplete="username" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" autocomplete="current-password" required>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <a mat-stroked-button color="primary" routerLink="/register">Sign up</a>
        <button type="submit" mat-flat-button color="primary">Sign in</button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>
