<div class="card bg-light">
  <h3 class="card-header">
    <a [routerLink]="['tasks', task.id]">{{task.name}}</a>
  </h3>

  <div class="card-body">
    <p class="card-text" translate [translateParams]="{creationDate: (task.creationDate | date:'dd.MM.yyyy H:mm')}">
      dws.task.summary.created
    </p>
    <p class="card-text" *ngIf="task.lastModifiedFile" translate [translateParams]="task.lastModifiedFile">
      dws.task.summary.lastModifiedFile
    </p>
  </div>

  <div class="card-footer">
    <i class="fa fa-file" aria-hidden="true"></i> {{task.numberOfFiles}}
    <i class="fa fa-user" aria-hidden="true"></i> {{task.numberOfParticipants}}
  </div>
</div>
