<form role="form" [formGroup]="newUser" (ngSubmit)="register()" novalidate>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxFlexOffset="50px">
      <mat-card-title>Register</mat-card-title>
      <mat-card-subtitle>Please, fill this form to register new user</mat-card-subtitle>

      <mat-card-content fxLayout="column">
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input type="email" matInput formControlName="email" required>
        </mat-form-field>

        <div fxLayout="row">
          <mat-form-field appearance="fill" fxFlex>
            <mat-label>First name</mat-label>
            <input type="text" matInput formControlName="firstName" required>
          </mat-form-field>

          <mat-form-field appearance="fill" fxFlex>
            <mat-label>Last name</mat-label>
            <input type="text" matInput formControlName="lastName" required>
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <mat-form-field appearance="fill" fxFlex>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" required>
          </mat-form-field>

          <mat-form-field appearance="fill" fxFlex>
            <mat-label>Repeated password</mat-label>
            <input type="password" matInput formControlName="passwordRepeated" required>
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="10px">

      </mat-card-actions>
    </mat-card>
  </div>
</form>
