<div class="row">
  <div class="col-md-12">
    <form [formGroup]="newUser" (ngSubmit)="register()" novalidate>
      <fieldset>
        <legend translate>
          dws.auth.register.legend
        </legend>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="email" translate>
            dws.auth.register.emailLabel
          </label>
          <div class="col-md-5">
            <input id="email" type="email" class="form-control" formControlName="email">
            <invalid-feedback [control]="email"></invalid-feedback>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="firstName" translate>
            dws.auth.register.firstNameLabel
          </label>
          <div class="col-md-5">
            <input id="firstName" type="text" class="form-control" formControlName="firstName">
            <invalid-feedback [control]="firstName"></invalid-feedback>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="lastName" translate>
            dws.auth.register.lastNameLabel
          </label>
          <div class="col-md-5">
            <input id="lastName" type="text" class="form-control" formControlName="lastName">
            <invalid-feedback [control]="lastName"></invalid-feedback>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="password" translate>
            dws.auth.register.passwordLabel
          </label>
          <div class="col-md-5">
            <input id="password" type="password" class="form-control" formControlName="password">
            <invalid-feedback [control]="password"></invalid-feedback>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="passwordRepeated" translate>
            dws.auth.register.passwordRepeatedLabel
          </label>
          <div class="col-md-5">
            <input id="passwordRepeated" type="password" class="form-control"
                   formControlName="passwordRepeated">
            <invalid-feedback [control]="passwordRepeated"></invalid-feedback>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-2 col-5">
            <button type="submit" class="btn btn-primary mr-1" [disabled]="newUser.invalid || newUser.pending">
              <i class="fa fa-check" aria-hidden="true"></i> {{'dws.auth.register.submitButton' | translate}}
            </button>
            <a class="btn btn-outline-secondary" routerLink="/login" translate>
              dws.auth.register.back
            </a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
