<div class="row" *ngIf="task">
  <div class="col-md-8">
    <ngb-tabset type="pills">
      <ngb-tab title="{{'dws.task.details.files.pillTitle' | translate}}">
        <ng-template ngbTabContent>
          <div class="mt-2">
            <files-list [task]="task"></files-list>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="{{'dws.task.details.participants.pillTitle' | translate}}">
        <ng-template ngbTabContent>
          <div class="mt-2">
            <participants-list [task]="task"></participants-list>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab *ngIf="currentUser.equals(task.projectAdministrator)"
               title="{{'dws.task.details.admin.pillTitle' | translate}}">
        <ng-template ngbTabContent>
          <div class="row mt-2">
            <div class="col-md-12">
              <div class="alert alert-danger">
                <button class="btn btn-danger mr-2" (click)="deleteTask()">
                  <span class="fa fa-trash" aria-hidden="true"></span>
                  {{'dws.task.details.admin.deleteTaskButton' | translate}}
                </button>
                <strong translate>dws.task.details.admin.deleteTaskWarning</strong>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header" translate>dws.task.details.card.header</div>
      <div class="list-group list-group-flush">
        <div class="list-group-item flex-column align-items-start">
          <small translate>dws.task.details.card.name</small><br/>
          <span>{{task.name}}</span>
        </div>
        <div class="list-group-item flex-column align-items-start">
          <small translate>dws.task.details.card.description</small><br/>
          <span>{{task.description}}</span>
        </div>
        <div class="list-group-item flex-column align-items-start">
          <small translate>dws.task.details.card.administrator</small><br/>
          <span>{{task.administrator.fullName}} ({{task.administrator.email}})</span>
        </div>
        <div class="list-group-item flex-column align-items-start">
          <small translate>dws.task.details.card.creationDate</small><br/>
          <span>{{task.creationDate | date:'dd.MM.yyyy HH:mm'}}</span>
        </div>
        <div class="list-group-item flex-column align-items-start">
          <small translate>dws.task.details.card.modificationDate</small><br/>
          <span>{{task.modificationDate | date:'dd.MM.yyyy HH:mm'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
