<div *ngIf="project" class="row">
  <div class="col-md-8">
    <div class="btn-toolbar mb-2" role="toolbar">
      <div class="btn-group" role="group">
        <div *ngIf="isProjectAdmin; then projectAdminGroup else projectParticipantGroup"></div>
        <ng-template #projectAdminGroup>
          <a [routerLink]="['tasks', 'add']" class="btn btn-success">
            <span class="fa fa-plus" aria-hidden="true"></span>
            {{'dws.project.details.toolbar.addTask' | translate}}
          </a>
          <button class="btn btn-danger" type="button" (click)="deleteProject()">
            <span class="fa fa-trash" aria-hidden="true"></span>
            {{'dws.project.details.toolbar.deleteProject' | translate}}
          </button>
        </ng-template>
        <ng-template #projectParticipantGroup>
          <a href="mailto:{{project.administrator.email}}" class="btn btn-info">
            <span class="fa fa-envelope" aria-hidden="true"></span>
            {{'dws.project.details.toolbar.mailToAdmin' | translate}}
          </a>
        </ng-template>
      </div>
    </div>

    <div *ngIf="hasTasks; then tasksSummaries else noTasksInfo"></div>
    <ng-template #noTasksInfo>
      <div class="alert alert-info text-center" role="alert"
           [innerHTML]="'dws.project.details.noTasksAlert' | translate"></div>
    </ng-template>
    <ng-template #tasksSummaries>
      <div class="text-center">
        <h3 translate [translateParams]="project">dws.project.details.taskList.header</h3>
      </div>
      <div class="row">
        <div *ngFor="let task of project.tasks; trackBy: trackByTasks" class="col-md-6 mb-3">
          <task-summary [task]="task"></task-summary>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header" translate>dws.project.details.card.header</div>
      <div class="list-group list-group-flush">
        <div class="list-group-item flex-column align-items-start">
          <small translate>dws.project.details.card.name</small><br/>
          <span>{{project.name}}</span>
        </div>
        <div class="list-group-item flex-column align-items-start">
          <small translate>dws.project.details.card.description</small><br/>
          <span>{{project.description}}</span>
        </div>
        <div class="list-group-item flex-column align-items-start">
          <small translate>dws.project.details.card.admin</small><br/>
          <span>{{project.administrator.fullName}}</span>
        </div>
        <div class="list-group-item flex-column align-items-start">
          <small translate>dws.project.details.card.creationDate</small><br/>
          <span>{{project.creationDate | date:'dd.MM.yyyy HH:mm'}}</span>
        </div>
        <div class="list-group-item flex-column align-items-start">
          <small translate>dws.project.details.card.lastModified</small><br/>
          <span>{{project.lastModified | date:'dd.MM.yyyy HH:mm'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
