<div class="row">
  <div class="col-md-12">
    <form [formGroup]="newFile" (ngSubmit)="createNewFile()" novalidate>
      <fieldset>
        <legend translate>dws.files.add.legend</legend>

        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="name" translate>dws.files.add.labels.name</label>
          <div class="col-md-5">
            <input id="name" type="text" class="form-control" formControlName="name" required>
            <invalid-feedback [control]="name"></invalid-feedback>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="description" translate>dws.files.add.labels.description</label>
          <div class="col-md-5">
            <textarea id="description" class="form-control" formControlName="description"></textarea>
            <invalid-feedback [control]="description"></invalid-feedback>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="file" translate>dws.files.add.labels.file</label>
          <div class="col-md-5">
            <input id="file" type="file" class="form-control-file"
                   (change)="fileToUpload = $event.target.files.item(0)" required>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="versionString" translate>
            dws.files.add.labels.versionString
          </label>
          <div class="col-md-5">
            <input id="versionString" type="text" class="form-control" formControlName="versionString" required>
            <invalid-feedback [control]="versionString"></invalid-feedback>
          </div>
        </div>

        <div class="form-group row">
          <div class="offset-md-2 col-md-10">
            <button type="submit" class="btn btn-primary mr-2" [disabled]="newFile.invalid" translate>
              dws.files.add.submitButton
            </button>
            <a class="btn btn-secondary" routerLink="../../" translate>dws.files.add.cancelButton</a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
