<div class="row">
  <div class="col-12">
    <form [formGroup]="newVersionOfFile" (ngSubmit)="addNewVersion()" novalidate>
      <fieldset>
        <legend translate>dws.versions.add.legend</legend>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="file" translate>dws.versions.add.labels.file</label>

          <div class="col-5">
            <input id="file" type="file" class="form-control-file" required
                   (change)="fileToUpload = $event.target.files.item(0)">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="versionString" translate>
            dws.versions.add.labels.versionString
          </label>

          <div class="col-5">
            <input id="versionString" type="text" class="form-control" formControlName="versionString" required>

            <invalid-feedback [control]="versionString"></invalid-feedback>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label" for="message" translate>dws.versions.add.labels.message</label>

          <div class="col-5">
            <textarea id="message" class="form-control" formControlName="message" required></textarea>

            <invalid-feedback [control]="message"></invalid-feedback>
          </div>
        </div>

        <div class="form-group row">
          <div class="offset-2 col-5">
            <button type="submit" class="btn btn-primary"
                    [disabled]="newVersionOfFile.invalid || newVersionOfFile.pending" translate>
              dws.versions.add.saveButton
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
