<div class="card bg-light">
  <h4 class="card-header">
    <a [routerLink]="['./', project.id]">{{project.name}}</a>
  </h4>

  <div class="card-body">
    <p class="card-text" translate
       [translateParams]="{creationDate: (project.creationDate | date:'dd.MM.yyyy H:mm')}">
      dws.project.summary.creationDate
    </p>
    <p class="card-text" *ngIf="project.lastModifiedFile" translate
       [translateParams]="lastModifiedFileMessageParams">
      dws.project.summary.lastModifiedFile
    </p>
  </div>

  <div class="card-footer">
    <span class="fa fa-user"></span> {{project.numberOfParticipants}}
    <span class="fa fa-tasks"></span> {{project.numberOfTasks}}
    <span class="fa fa-file"></span> {{project.numberOfFiles}}
  </div>
</div>
