<div class="row">
  <div class="col-md-12">
    <form [formGroup]="newProject" (ngSubmit)="createProject()" novalidate>
      <fieldset>
        <legend translate>dws.project.add.legend</legend>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="name" translate>
            dws.project.add.nameLabel
          </label>
          <div class="col-md-5">
            <input id="name" type="text" class="form-control" formControlName="name" required>
            <invalid-feedback [control]="name"></invalid-feedback>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="description" translate>
            dws.project.add.descriptionLabel
          </label>
          <div class="col-md-5">
            <textarea id="description" class="form-control" formControlName="description"></textarea>
            <invalid-feedback [control]="description"></invalid-feedback>
          </div>
        </div>

        <div class="form-group row">
          <div class="offset-md-2 col-md-10">
            <button type="submit" class="btn btn-primary" [disabled]="newProject.invalid" translate>
              dws.project.add.createButton
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

