/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~ngx-toastr/toastr.css";

body {
  background-color: #f1f1f140;
}
[disabled] {
  cursor: not-allowed;
}

.card {
  box-shadow: 0 2px 2px 0 #555;
}

.card-header > a {
  color: inherit;
}

.card-header > a:hover {
  text-decoration: inherit;
}

/*noinspection CssUnusedSymbol*/
input.ng-invalid.ng-touched, input.ng-invalid.ng-dirty,
textarea.ng-invalid.ng-touched, textarea.ng-invalid.ng-dirty {
  border-color: #dc3545;
}

.btn-success {
  background-color: #689c68;
}

.btn-danger {
  background-color: #bf6360;
}
